@font-face{
	font-family: 'Dia';
	src: url('ABCDiatype-Regular-Trial.woff') format('woff');
	font-weight: 400;
}

body{
	/* this is the outermost element on your page*/
	background: white;
	font-family: 'Dia';
	font-size: 100px;
}