@font-face{
	font-family: 'Ball';
	src: url('Balloon-Regular.woff2') format('woff2');
	font-weight: 400;
}

body{
	/* this is the outermost element on your page*/
	background: yellow;
	font-family: 'Ball';
	font-size: 100px;
}