@font-face{
	font-family: 'Ball';
	src: url('Balloon-Regular_otf.woff2') format('woff2');
	font-weight: 400;
}

body{
	/* this is the outermost element on your page*/
	background: white;
	font-family: 'Ball';
	font-size: 100px;
}
p{
	font-size:30px;
	line-height:32px;
}