@font-face{
    font-family: 'Ball';
    src: url('Balloon-Regular_otf.woff2') format('woff2');
    font-weight: 400;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:"나눔고딕","NanumGothic","돋움",Dotum,Helvetica,"Apple SD Gothic Neo",Sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

body{
    /* this is the outermost element on your page*/
    background: white;
    font-family: 'Ball';
    font-size:12px;
    line-height:1.5;
}
.tit_bal {
    font-weight: normal;
    font-size:100px;
    line-height:102px;
    padding-top: 14px;
    margin-left: 20px;
}
.list_nav {
    overflow: hidden;
    padding: 14px 0 0;
    margin-left: 20px;
}
.list_nav li{float: left;}
.list_nav li+li{margin-left: 40px;}
.link_nav{
    font-size:40px;
    line-height:42px;
}