@font-face{
	font-family: 'Dia';
	src: url('fonts/ABCDiatype-Regular-Trial.woff') format('woff2');
	font-weight: 400;
}

body{
	/* this is the outermost element on your page*/
	background: yellow;
	font-family: 'Dia';
	font-size: 100px;
}