body{
	font-family: sans-serif;
	margin: 0;
	font-size: 16px;
	background: black;
}

main{
	border: 0.5px solid white;
	border-top: 0;
	border-bottom: 0;
	height: 100vh;
	width: 700px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 20px;
	box-sizing: border-box;
	padding: 3rem 0;
	overflow: hidden;
}
.txt_red{
	color:red;
}
.txt_big_1{
	color:#A7A992;
	font-size:270px;
	line-height:0.8;
	font-weight:600;
	position: relative;
	left:-20px;
	letter-spacing: -12px;
}
.txt_big_2{
	color:#E7E2CD;
	font-size:270px;
	line-height:0.8;
	font-weight:600;
	position: relative;
	right:200px;
	letter-spacing: -12px;
}

.grid_1{
	grid-column-start: 2;
	grid-column-end: 5;
}
.grid_2{
	grid-column: 1/5;
	 grid-row: 4/6;
}
.grid_emp_1{
	grid-column: 1/5;
}




